/* src/styles/Contact.css */

.contact-container {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.contact-left {
  flex: 1;
}

.contact-section-title {
  font-size: 15px;
  font-weight: 600;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-title {
  font-size: 48px;
  font-weight: 800;
  margin-top: 10px;
  color: rgb(128, 4, 159);
}

.contact-subtitle {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}



.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}



.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.contact-icon {
  width: 26px;
  height: 26px;
  color: #000;
}

.contact-label {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 2px;
}

.contact-value {
  font-size: 16px;
  color: #444;
  text-decoration: none;
}

.contact-value:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-title {
    font-size: 38px;
  }
}
